/* Resets */
    body, h1, h2, h3, h4, h5, h6, p, ul {
        margin: 0;
        padding: 0;
    }

    * {
        box-sizing: border-box;
        background-repeat: no-repeat;
    }

/* Backgrounds */

    .gradient-1 {
        background: rgb(3,0,13);
        background: linear-gradient(180deg, rgba(3,0,13,1) 0%, rgba(80,74,101,1) 100%);    
    }

    .background-light-1 {
        background-color: rgba(0,0,0,.05);
        border-top: 1px solid rgba(0,0,0,.08);
    }

    .background-dark-1 {
        background-color: #000;
    }

    .background-dark-2 {
        background-color: #1A1A1A;
    }


/* Common */

    body {
        font-family: 'Barlow';
    }

    .theme-dark > *{
        color: #fff;
    }

    .theme-dark a{
        border-color: inherit;
    }

    a {
        text-decoration: none;
        border-bottom: 1px;
        border-bottom-style: dotted;
        border-bottom-color: inherit;
        color: inherit;
        outline : none;
    }
       
    ul {
        list-style: none;
    }

    img {
        display: block;
        max-width: 100%;
        align-self: center;
    }

    #project {
        background-color: #fff;
    }

    #home {
        position: relative;
    }

    .home-intro {
        background-color: rgba(0,0,0,.85);
    }

/* Layout */
    .layout-flex {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;   
    }

    .layout-wrapper {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }

    @media only screen and (max-width: 760px) {
        .layout-flex {
            display: block;
        }

        .layout-wrapper {
            width: 90%
        }
    }

    .layout-full {
        width: 100%;
    }

    .layout-full img {
        width: 100%;
    }

    section p + .layout-flex {
        padding-top: 6vw;
    }

    .layout-center-h-v {
        display: flex;
        align-items: center;
        justify-content: center;               
    }

    /* wrapping images inside flex */
        .layout-flex span {     
            display: block; 
            margin: 1%;
            flex: 1;
        }

        .layout-flex span img{
            max-width: 100%;
            align-self: center;
        }

        .layout-flex:last-child span{
          margin-right: 0;
        }

        .layout-flex span:first-child {
          margin-left: 0;
        }


    .layout--smaller {
        width: 40%;
        flex:initial;
    }

    .layout--larger {
        width: 60%;
        flex:initial;
    }

/* Sections */

    section {
        position: relative;
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        padding: 8vw 0 8vw 0;
}

    section div img {
        display: block;
        max-width: 100%;
        justify-content: center;
        align-self: center
    }

    section img {
        padding: 6vw 0 0 0;
        margin: 0 auto;
        display: block;
    }

/* Headers */

    header {
        position: relative;
        background-position: center;
        background-size: cover;
        position: relative;
        padding: 0 0 10vw 0;
        background: #1A1A1A;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }

    h1 {
        font-size: 4em;
        line-height: 100%;
        font-weight: 900;
        position: relative;
    }

    h2 {
        font-size: 5vw;
        line-height: 120%;
        padding: 0
            0 2vw 0;
        text-align: center;
    }

    #home h1, #home h2 {
        font-size: 3vw;
        line-height: 120%;
        padding: 0 0 2vw 0;
        text-align: left;
    }

    #home h1 {
        padding: 6vw 0 2vw 0;
        width: 70%;
    }


    @media only screen and (max-width: 860px) {
        #home h1 {
            font-size: 8vw;
            padding-bottom: 20vw;
            width: 100%;
        }
        h2, #home h2 {
            font-size: 6vw;
            padding: 3vw 0 3vw 0;
            font-weight: 900;
        }
    }

    h3 {
        font-size: .9em;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 1em;
        font-weight: 900;
    }

    @media only screen and (max-width: 760px) {
        h1{
            font-size: 2em;
            text-align: left;
            line-height: 120%
        }
    }


/* Navigation */

    nav {
        font-weight: 800;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5% 0 5% 0;
        position: relative;
        z-index: 10;  
    }

    nav a {
        color: #fff;
        border: 0;
        font-size: 1.2vw;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .logo{
        position: relative;
        width: 6vw;
        height: 6vw;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 100%;
        margin-right: auto;
        text-indent: -1000px;
        color: transparent;
    }


    @keyframes logo-load {
        0% {
            background-image: url(../img/romanp-logo2.svg);
        }
        100% {
            background-image: url(../img/romanp-3.png);   
        }
    }

    .logo {
        background-image: url(../img/romanp-logo-dark.svg);
        transition: background-image .75s;                 
        animation: 2s ease-out 0 1 logo-load;
    }

    .theme-dark .logo {
        background-image: url(../img/romanp-logo.svg);
      }

    #home .logo:hover {
        background-image: url(../img/romanp.png);   
        transition: background-image .75s;  
        animation: 2s ease-out 1 0 logo-load;
    }

    .menu {
        list-style: none;
        display: flex;
        font-size: 2vw;
    }

    .menu a{
        margin-left: 30px;
    }

    .menu a span {
        padding: 0 5px 2px 5px;
    }

    @media only screen and (max-width: 860px) {
        nav {
            height: auto;
        }

        .logo {
            width: 80px;
            height: 80px;
        }
        
        nav a {
            font-size: 4vw;
        }
    }

/* Buttons */

    .button {
        border: 2px solid #fff;
        border-radius: 5px;
        padding: .75rem 1.5rem;
        display: inline-block;
        font-size: .8em;
    }

    .button:hover, .button-about {
        cursor: pointer;
    }

    .button-back-to-top {
        background-image: url(../img/chevron.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: rgba(255,255,255,0);
        border: 0;
        opacity: 1;
        border-radius: 50%;
        border: 1px solid #fff;
    }



    /*Social Icons*/

        .social-icons {
            width: 70%;
            display: flex;
            justify-content: flex-end;
        }

        .social-icons li{
            min-width: 25px;
            min-height: 25px;
            margin-left: 1.5vw;
            border-radius: 50%;
            background-position: center;
            position: relative;
            background-size: contain;
            font-weight: 400;
            font-size: 12px;
        }

        @media only screen and (max-width: 760px) {
            .social-icons li{
                margin-left: 6vw;
            }            
        }        


        .social-icons li a{
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            border: 0;
        }

        .social-icons li span{
            display: none;
        }

        .theme-dark .icon-email {background-image: url(../img/icon-social-email.svg);}
        .theme-dark .icon-dribbble {background-image: url(../img/icon-social-dribbble.svg);}
        .theme-dark .icon-noun-project {background-image: url(../img/icon-social-noun-project.svg);}
        .theme-dark .icon-flickr {background-image: url(../img/icon-social-flickr.svg);}
        .theme-dark .icon-medium {background-image: url(../img/icon-social-medium.svg);}
        .theme-dark .icon-linkedin {background-image: url(../img/icon-social-linkedin.svg);}

        .icon-email {background-image: url(../img/icon-social-email-dark.svg);}
        .icon-dribbble {background-image: url(../img/icon-social-dribbble-dark.svg);}
        .icon-noun-project {background-image: url(../img/icon-social-noun-project-dark.svg);}
        .icon-flickr {background-image: url(../img/icon-social-flickr-dark.svg);}
        .icon-medium {background-image: url(../img/icon-social-medium-dark.svg);}
        .icon-linkedin {background-image: url(../img/icon-social-linkedin-dark.svg);}

/* Video */

    #video-viewport {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1; /* for accessing the video by click */
        overflow: hidden;
    }

    video {
        max-width: 100%;
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .video-custom-player {
        position: relative;
    }

    .video-play-pause {
        background: url(../img/icon-play.svg);
        background-position: center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-repeat: no-repeat;
    }

    .video-custom-player:hover{
        cursor: pointer;
    }

/* Quote */

    .quote {
        display: flex;
        margin: 6vw auto 0 auto;
        align-content: space-around;
        max-width: 600px;
		flex-wrap: wrap;
    }

    .quote-head {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;  
    }

    .quote-head span {
    	background-repeat: no-repeat;
    	background-size: cover;
    	width: 75px;
    	height: 75px;
    	border-radius: 50%;
    	display: block;
    }

    .quote-head img {
        width: auto;
        padding-top: 0;
    }

    .quote-text{
        width: 80%;
    }

    .quote-text i{
        opacity: .3;
        display: inline-block;
        width: 100%;
        font-style: normal;
        padding: 10px 0 0 0;
    }

    @media only screen and (max-width: 760px) {
           .quote-head {
				width: 100%;
    			margin-bottom: 3vw;
			}

			.quote-text {
				width: 100%;
			} 
	}

/* Paragraphs */

    p {
        line-height: 150%;
        font-size: 18px;
    }

    section p {
        max-width: 800px;
        display: block;
        margin: 0 auto;
        font-size: 24px;
    }

    section p + img {
        padding-bottom: 6vw;
    }
    
    section img ~ p, section p + video, p ~ .video-custom-player{
        padding-top: 6vw;
    }

    @media only screen and (max-width: 760px) {    
        section p {
            font-size: 16px;
            margin: 0 5% 0 5%;
        }
    } 

/* Home */

        .about {
            display: none;
            padding: 1vw 0 0 0;
            width: 70%;
        }

        /* Home - Projects List */

            .projects li {
                display: flex;
                justify-content: space-around;
                background-size: cover;
                min-height: 40vw;
                position: relative;
            }

            .project-description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 45%;
            }

            .project-description p{
                width: 100%;
                font-size: 1.2em;
                line-height: 150%;
            }

            .project-image {
                display: flex;
                align-self: center;
                overflow: hidden;
                width: 45%;
            }

            .project-image img {
                width: 100%;
                height: 100%;
            }

            /* project-image alignments */
                .align-top {
                    margin-bottom: auto;
                }

                .align-right {
                    margin-right: auto;
                }

                .align-left {
                    margin-left: auto;
                }

                .align-bottom{
                    margin-top: auto;
                }

            /*
            .projects li:nth-child(odd){
                flex-direction: row-reverse;
            }
            */

            .projects li a{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border: 0;
            }

            @media only screen and (max-width: 760px) {
                .projects li, .projects li:nth-child(odd) {
                    flex-direction: column;
                    min-height: 100vw;
                    box-sizing: border-box;
                }

                .project-description {
                    width: 100%;
                    padding: 5% 0 5% 0;
                }

                .project-description p{
                    width: 100%;
                }

                .project-image {
                    width: 90%;
                    height: auto;
                    padding-bottom: 10%;
                }

                .align-bottom{
                    padding-bottom: 0;
                }

                .project-image img{
                    margin: 0 auto;
                    width: 100%;
                    height: 100%;
                }
            }

/* Project Details */

    .project-heading {
        position: relative;
        padding: 3vw 0 3vw 0;
    }
    
    .project-heading a{
        background-image: url(../img/icon-back-dark.svg);
        background-position: left center;
        border: 0;
        padding: 0 0 0 20px;
        z-index: 3;
        position: relative;
    }

    .theme-dark .project-heading a{
        background-image: url(../img/icon-back.svg);
    }

    .project-heading h1{
        position: relative;
        z-index: 0;
    }

    .project-banner img{
        padding: 3vw auto 3vw auto;    
        width: 100%;
    }

    .project-intro {
        padding: 3vw 0 6vw 0;
        display: flex;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }

    .project-intro div{
        width: 50%;
        margin-right: 10%;
    }

    .project-intro p {
        font-size: 1.5vw;
    }

    .project-list {
        width: 40%;
    }

    .project-list li{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        padding: 1.25em 0 1.25em 0;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }

    .theme-dark .project-list li{
        border-bottom: 1px solid rgba(255,255,255,.1);
    }

    .project-list li:first-child{
        padding-top: 0;
    }

    .project-list li:last-child{
        border-bottom: 0;
    }

    .project-list span {
        font-weight: 400;
        text-transform: none;
    }

    figcaption {
        width: 50%;
        line-height: 150%;
        font-size: .9em;
        text-align: center;
        margin: 1vw auto 3vw auto;
        opacity: 1;
    }

    @media only screen and (max-width: 960px) {
        .project-intro {
            width: 100%;
            max-width: 100%;
        }
        
        .project-intro div p{
            font-size: 3vw;
        }
        
        .project-list {
            width: 90%;
            margin: 12vw auto 12vw auto;
        }
        
        figcaption {
            width: 90%;
        }
    }

/* Footer */

    footer {
        padding: 8vw 0 8vw 0;
        border-top: 1px solid rgba(255,255,255,.1);
    }

    .nav-projects {
        background-color: #1A1A1A;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1200px;
    }
    
    .nav-projects hr {
        width: 50%;
        border: 0;
        background-color: transparent;
        border-bottom: 1px solid rgba(255,255,255,.15);
    }

    .nav-projects a{
        color: #fff;
        width: 100%;
        flex-grow: 1;
        text-align: center;
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        letter-spacing: 2px;
        border-bottom: 0;
    }

    .nav-projects a:before {
        display: block;
        color: rgba(255,255,255,.3);
        text-transform: uppercase;
        padding-bottom: 10px;
        font-weight: 100;
        font-size: .8em;
    }

    .nav-projects-next:before {
        content: "next";
    }

    .nav-projects-previous:before {
        content: "previous";
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1A1A1A;
        min-height: 300px;
    }


    @media only screen and (max-width: 960px) {
        footer {
            padding: 4vw 0 4vw 0;
        }
    }


/* Overrides and additions */
    .shadow-1 {
        filter: drop-shadow(0 0 0.75rem rgba(0,0,0,.5));
    }

    .padding-top-0{
        padding-top: 0;
    }

    .padding-bottom-0{
        padding-bottom: 0;
    }

    .padding-0 {
        padding-top: 0;
        padding-bottom: 0;
    }

