/**
 * Popup -> CSS document 
 */

body{
	background:none;
}

/*** Popup General Styles ***/
#popupContainer{
	height:auto;
	position:relative;
}
#popupTop{
	height:59px;
	padding:0 30px;
	background:#eee;
	border-bottom:1px solid #ddd;
	position:relative;					
}
	#popupTop h1{
		color:#6e7586;
		font-size:22px;
		padding:0;
		margin:0;
		line-height:59px;
	}	
	#popupTop a.close{
		background:url("../../images/admin/icon-close.png") no-repeat top left;
		width:34px;
		height:34px;
		position:absolute;
		top:13px;
		right:24px;
		text-decoration:none;
		opacity:1;
	}	
		
#popupContent {
	padding:30px 30px 0 30px;
}
	#popupContent .form label {
		width:110px;
	}
	#popupContent .form .formField,
	#popupContent .form .dropDownBox,
	#popupContent .form .formAreaSmall {
		float:right;
		
	}
	#popupContent .form .formField {
		height:28px; !important;
	}
	#popupContent .form .row {
		margin-bottom:18px !important;
	}
/****************************/


/*** Images Upload/Edit Popup***/
#imageUploadForm {}

	#imageUploadForm .imagePopupLeft {
		float:left;
		width:450px;
	}
	#imageUploadForm .imagePopupRight {
		float:right;
		width:210px;
	}
	#imageUploadForm .imageButtonContainer{
		margin-bottom:30px;
	}
	#imageUploadForm span.imageContainer{
		display:block;
		width:450px;
		height:160px;
		overflow:hidden;
		margin:0px 0px 10px 0px;
		text-align:center;	
	}
		#imageUploadForm span.imageContainer img{
			max-height:160px;
			border:1px dashed #EDEDED;
		}
	#progressBar {
		clear:both;
	}
/************************/

/**** IMAGE CROP****/
#imageForm input.formField{
	float:left !important;
}
	#imageForm .buttonImagePopup{
		width:auto !important;
	}
#imageCropContainer {
	width:500px;
	margin-bottom:20px;
	float:left;
}
	#imageCropContainer img{
		max-width:500px;
	}
#loadingAnimation {
	width:100%;
	height:100%;
	position:absolute;
	display:none;
	opacity:0.5;
	top:0px;
	left:0px;
	background:#fff;
}
	#loadingAnimation img {
		position: absolute;
	    top: 50%; 
	    left: 160px;
	}
#imageCropDetailsContainer {
	width:193px;
	float:left;
	margin-left:20px;
}
	#imageCropDetailsContainer #doRevert {
		width:100%;
		padding:0;
		background:#b1b6bc;
		color:#fff !important;
		height:40px;
		line-height:40px;
		text-transform:uppercase;
	}
	#imageCropDetailsContainer #doCrop {
		width:100%;
		padding:0;
		background:#656e7f;
		color:#fff !important;
		height:40px;
		line-height:40px;
		text-transform:uppercase;
	} 
/********************/


